config/config_global.php
config/config_ucenter.php
data/cache/
data/log/
data/template/
data/threadcache/
source/plugin/_public/cache/
uc_server/data/config.inc.php
uploads/
git update-index --assume-unchanged config/