
<!--{eval include template('_public/admin_common_head');}-->
<h3>{if $loid}修改{else}新增{/if}{$head_title}</h3>

<form class="lothar_form" action="{$formcheck['url']}" method="post" enctype="multipart/form-data" id="demoform">
	<!--{loop $fields_info $f}-->
	<div class="lothar_div">
		<span class="lo_form_p">{$f['comment']}</span>
		<label>
		<!--{if $f[type]=='tinyint' || $f[type]=='smallint' || $f[type]=='mediumint' || $f[type]=='int'}-->
			<!--{if in_array($f[field],array('is_hot','is_new','is_recommend','is_show','is_real','is_on_sale','is_free_shipping'))}-->
				<label><input type="radio" name="{$f[field]}" value="0" {eval echo $page[$f[field]]==0?'checked':($f[def]==0?'checked':'');} /> 否</label>
				<label><input type="radio" name="{$f[field]}" value="1" {eval echo $page[$f[field]]!=0?'checked':($f[def]!=0?'checked':'');} /> 是</label>
			<!--{elseif $f[field]=='pid'}-->
				<select name="{$f[field]}">
					<option {if !$page[$f[field]]}selected{/if} value="0">-->顶级<--</option>
					<!--{loop $cates $p}-->
					<option {if $page[$f[field]]==$p[cid]}selected{/if} value="{$p[cid]}">{$p[name]}</option>
						<!--{loop $p[child] $c}-->
						<option {if $page[$f[field]]==$c[cid]}selected{/if} value="{$c[cid]}"><!--{eval echo str_repeat('&nbsp;',4).$c[name]}--></option>
							<!--{loop $c[child] $t}-->
							<option {if $page[$f[field]]==$t[cid]}selected{/if} value="{$t[cid]}"><!--{eval echo str_repeat('&nbsp;',8).$t[name]}--></option>
							<!--{/loop}-->
						<!--{/loop}-->
					<!--{/loop}-->
				</select>
			<!--{elseif $f[field]=='cid' || $f[field]=='fid'}-->
				<!--{if $lokey=='id'}-->
					<!--{loop $cates $v}-->
					<label><input type="checkbox" name="{$f[field]}[]" value="{$v[$f[field]]}" {eval if($page[$f[field]])echo in_array($v[$f[field]],json_decode($page[$f[field]]))?'checked':'';} />{$v[name]}</label>
					<!--{/loop}-->
					<a href="{$formcheck['url_category']}"> 编辑分类</a>
				<!--{/if}-->
			<!--{else}-->
				<input class="lo_input" type="number" name="{$f['field']}" value="<!--{eval echo $page[$f[field]]?$page[$f[field]]:($f[def]?$f[def]:'0');}-->" maxlength="11" required />
			<!--{/if}-->
		<!--{elseif $f[type]=='varchar' || $f[type]=='char' }-->
			<!--{if $f[field]=='brief'}-->
				<textarea cols="40" rows="3" name="{$f[field]}">{$page[$f[field]]}</textarea>
			<!--{elseif in_array($f[field],array('pic','pdf','attach','logo','image'))}-->
				<input type="file" name="$f[field]" />
				<!--{if $page[$f[field]]}--><a href="{$page[$f[field].'href']}">{$page[$f[field]]}</a><!--{/if}-->
			<!--{elseif $f[field]=='url'}-->
				<textarea cols="40" rows="2" name="{$f[field]}">{$page[$f[field]]}</textarea>
				<!--{if $page[$f[field]]}--><a href="{$page[$f[field]]}">{$page[$f[field]]}</a><!--{/if}-->
			<!--{else}-->
				<input class="lo_input" type="text" name="{$f[field]}" value="{$page[$f[field]]}" />
			<!--{/if}-->
		<!--{elseif $f[type]=='text' || $f[type]=='longtext'}-->
			<!-- UEditor -->
			<div class="lothar_ueditor">
				<!--{template _public/ueditor}-->
			</div>
			<!-- <textarea cols="40" rows="4" name=""></textarea> -->
		<!--{else}-->
			<input class="lo_input" type="text" name="{$f[field]}" value="{$page[$f[field]]}" />
		<!--{/if}-->
		</label>
	</div>
    <div class="clear"></div>
	<!--{/loop}-->

	<div class="lo_submit_div">
		<input type="hidden" name="formhash" value="{FORMHASH}" />
		<input type="hidden" name="loid" value="{$loid}">
		<input type="hidden" name="id_filter" value="{$lokey}">
		<input type="hidden" name="table" value="{$table}">
		<input type="hidden" name="sign" value="{$_REQUEST['sign']}">
		<input type="hidden" name="url_return_ok" value="{$formcheck['url_return_ok']}">
		<input type="hidden" name="url_return_no" value="{$formcheck['url_return_no']}">
		<input type="submit" value="提交" class="lo_common_submit" id="lo_common_submit" />
	</div>
</form>