 

<link rel="stylesheet" href="{LO_PUB_CSS}talents.css"/>
<link href="../shearphoto_common/css/ShearPhoto.css" rel="stylesheet" type="text/css" media="all">
<!--CSS文件，有点废话-->
<script type="text/javascript" src="../shearphoto_common/js/ShearPhoto.js"></script>
<!--ShearPhoto的核心文件 截取，拖拽，HTML5切图，数据交互等都是由这个文件处理，全部由明哥先生汗水交织而成-->
<script type="text/javascript" src="../shearphoto_common/js/handle.js"></script>
<script src="{LO_PUB_JS}jquery-1.11.3.min.js"></script>
<script src="{LO_PUB_JS}common.js"></script>



 <!-- 论坛左侧导航 -->
    
            <div class="phl_ectocyst phl_t">
                <h2><span class="ph ph_2"></span><a href="">外包</a></h2>
                <ul class="phl_ectocyst_ul phl_tul">
                    <li><a href="person_home/my_case.html">我的案例</a></li>
                    <li><a href="person_home/Outsourcing_collection.html">外包收藏</a></li>
                    <li><a href="person_home/Items_evaluated.html">待评价项目</a></li>
                    <li><a href="person_home/my_Published_items.html">我发布的项目</a></li>
                    <li><a href="person_home/my_bidding_items.html">我竞标的项目</a></li>
                </ul>
            </div>