
<!--{template common/header}-->

<div class="person_home">
    <!-- 论坛左侧导航 -->
    <!--{template home/home_left}-->
    <div class="person_homer rt">
        <!--{template home/home_righton}-->
        <div class="phr_content">
            <!-- <div class="phr_bordermess"></div> -->
            <div class="phr_MyReward">
                <ul class=" phr_tab">
                    <li  class="phr_active">个人资料</li>
                </ul>
                <div class="phr_tab_content">
                    <div class="phr_dc" style="display:block;">
                        <div class="phr_my_collection">
                            <!--{subtemplate home/space_profile_body}-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 通用底部 -->
<!--{template common/footer}-->