
<!--{template common/header}-->

<div class="person_home">
    <!-- 个人中心左侧导航 -->
    <!--{template home/home_left}-->
    <div class="person_homer rt">
        <!--{template home/home_righton}-->
        <div class="phr_content">
            <!-- <div class="phr_bordermess">写点什么……</div> -->
            <div class="phr_MyReward">
                <ul class=" phr_tab">
                    <li  class="phr_active">我的收藏</li>
                </ul>
                <div class="phr_tab_content">
                    <div class="phr_dc" style="display:block;">
                        <div class="phr_my_collection">
                            <ul class="phr_myCollect">
                                <li class="phr_mysc">
                                    <p class="phr_mysc_p"><a href="" class="phr_mysc_content">收藏的名称收藏的名称收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                                <li>
                                    <p><a href="">收藏的名称</a></p>
                                    <div><button class="mycollect_remove">删除</button></div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 通用底部 -->
<!--{template common/footer}-->