<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"><div id="frametDcil7" class="frame move-span cl frame-1-2"><div id="frametDcil7_left" class="column frame-1-2-l"><div id="frametDcil7_left_temp" class="move-span temp"></div><!--{block/3}--></div><div id="frametDcil7_center" class="column frame-1-2-r"><div id="frametDcil7_center_temp" class="move-span temp"></div></div></div><div id="tabFdHe59" class="frame-tab move-span cl"><div id="tabFdHe59_title" class="tab-title title column cl" switchtype="click"><span class="titletext">tab标签</span><!--{block/5}--><!--{block/6}--><!--{block/7}--></div><div id="tabFdHe59_content" class="tb-c"></div><script type="text/javascript">initTab("tabFdHe59","click");</script></div></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
